<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.lean.sonar.aggreagtedreport.dao.TestStepMapper">

    <sql id="stepColumns">
        step.id,
        step.name,
        step.duration,
        step.result
    </sql>

    <select id="selectById" parameterType="String" resultType="com.thoughtworks.lean.sonar.aggreagtedreport.dao.TestStepDto">
        SELECT
        <include refid="stepColumns"/>
        FROM lean_test_step step
        <where>
            AND step.id=#{id}
        </where>
    </select>

    <select id="selectAll" resultType="com.thoughtworks.lean.sonar.aggreagtedreport.dao.TestStepDto">
        select
        step.`name` as name , step.`result` as resultType, step.`duration` as duration
        from
        `lean_test_step` as step;
    </select>

    <insert id="insert" parameterType="com.thoughtworks.lean.sonar.aggreagtedreport.dao.TestStepDto" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO lean_test_step (name, result, duration)
        VALUES (#{name,jdbcType=VARCHAR}, #{resultType,jdbcType=VARCHAR},#{duration,jdbcType=INTEGER})
    </insert>

    <delete id="delete">
        DELETE FROM lean_test_step WHERE id=#{id}
    </delete>

    <delete id="deleteAll">
        truncate lean_test_step
    </delete>

</mapper>
